body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: center;
	position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.font {
	font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.header-logo {
	display: flex;
	margin: 0 100px 0 0;
}

.img-20 {
	width: 20px;
	height: 20px;
}

.m-5 {
	margin: 5px 5px 0 0;
}

.header-menu {
	margin: 0 300px 0 0;
}

.header-menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	cursor: pointer;
}

.header-menu ul li {
	font-weight: normal;
    list-style: none;
    margin: 0 36px 0 0;
}

.nav {
	text-decoration: none;
	color: #808080; 
}
.nav:hover {
	color: #FFFFFF;
}

.active-link {
	color: #FFFFFF;
}

.search {
	background: #3C3B3D;
	border-radius: 50px;
    border: none;
    padding: 7px 14px;
    text-transform: uppercase;
	outline: none;
	width: 23%;
}

.bg-home {
	background-image: url(../../images/banner.png);
}

.bg-img {
	background-position: center;
	background-size: cover;
}

.padding-250 {
	padding: 250px 0;
}

.h1 {
	font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #FFFFFF;
}

.align {
	text-align: center;
}
.fs-30 {
	font-size: 30px;
	line-height: 35px;
	margin: 0;
}

.font-w {
	font-weight: bold;
}

.fs-18 {
	font-size: 18px;
    line-height: 21px;
}

.m-45-40 {
	margin: 45px 0 40px;
}

.fs-14 {
	font-size: 14px;
    line-height: 16px;
}
.form {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 50%;
}
.form input {
	width: 43%;
	height: 50px;
	margin: 0 0 30px 0;
	padding: 0 0 0 20px;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	outline: none;
}
.form button {
	width: 100%;
	height: 50px;
	background: #34C176;
	border-radius: 3px;
	border: none;
	text-transform: uppercase;
	outline: none;
	color: #FFFFFF;
	cursor: pointer;
}
.form button:hover {
	opacity: 0.7;
}

.main {
	background: #08020D;
    padding: 100px 0;
}

.mb-100 {
	margin: 0 auto 100px;
}
.mb-50 {
	margin: 0 auto 50px;
}

.h2 {
	font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
}

.grid-card {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	grid-template-rows: repeat(1, 580px);
	grid-gap: 75px;
	margin: 50px auto;
}

.card-free {
	background-image: url(../../images/free.png);
	background-position: center;
	background-size: contain;
}

.flex-card {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.h3 {
	font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 24px 0 0 0;
}

.card-content {
	margin: 0 10px 60px;
}
.card-sum {
	display: flex;
    justify-content: center;
	margin: 0 0 40px 0;
}

.fs-60 {
	font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 11px 0 0;
}

.text-transf {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.card-btn {
	font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: none;
    padding: 20px 83px;
    border: 4px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.card-btn:hover {
	opacity: 0.7;
}

.fs-11 {
	font-size: 11px;
    line-height: 13px;
}

.card-standart {
	background-image: url(../../images/standart.png);
	background-position: center;
	background-size: contain;
}

.card-premium {
	background-image: url(../../images/premium.png);
	background-position: center;
	background-size: contain;
}

.fs-22 {
	font-size: 22px;
    line-height: 26px;
    padding: 0 10px;
}

.grid-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 68px;
}

.mb-70 {
	margin: 0 auto 70px;
}

.width-100 {
	max-width: 100%;
}

.lh-28 {
	font-size: 14px;
    line-height: 28px;
    color: #8c8c8c;
    margin: 25px 0 15px 0;
}

.author {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 37%;
    margin: 0 0 45px 0;
}

.fs-12 {
	font-size: 12px;
    line-height: 28px;
    margin: 0;
}

.color-fs-12 {
	color: #F89202;
}

.split {
	width: 1px;
    height: 11px;
    background: #B8B8B8;
}

.color-date {
	color: #555555;
}

.btn-album {
	text-transform: uppercase;
	color: #8C8C8C;
    background: none;
    padding: 10px 30px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    cursor: pointer;
}
.btn-album:hover {
	opacity: 0.6;
}

.fs-16 {
	font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.m-15-25 {
	margin: 15px 0 25px 0;
}

.btn-pink {
	background: #FF4157;
    border: none;
    border-radius: 50px;
    padding: 20px 58px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.btn-pink:hover {
	opacity: 0.7;
}

.m-auto {
	margin: auto;
}

.footer {
	background: linear-gradient(90deg, #5328A1 32.83%, #95390C 81.56%);
	padding: 80px 0 50px;
	font-size: 16px;
    line-height: 19px;
    color: #CACACA;
}

.first-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 0 50px 0;
}

.h6 {
	font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 30px 0;
    text-transform: none;
}

.first-menu section ul {
	padding: 0;
}

.first-menu section ul li {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.first-menu section ul li a {
	text-decoration: none;
	color: #CACACA;
}
.first-menu section ul li a:hover {
	opacity: 0.7;
}

.social li {
	display: inline;
}

.social-icon {
	margin: 0 20px 0 0;
}

.second-menu {
	padding: 50px 0 0 0;
}

.second-menu ul {
	padding: 0;
}

.second-menu ul li {
	display: inline;
	list-style: none;
	margin: 0 40px 0 0;
}

.second-menu ul li a {
	text-decoration: none;
	color: #CACACA;
}

.second-menu ul li a:hover {
	opacity: 0.7;
}

.bg-catalog {
	background-image: url(../../images/morten-harket.png);
}

.padding-280-0-80 {
	padding: 280px 0 80px;
}

.btn-catalog {
	width: 200px;
    height: 56px;
    margin: 0 35px 0 0;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.img-btn {
	width: 25px;
    height: 25px;
    color: #FFFFFF;
    filter: invert(1);
}

.m-btn {
	margin: -4px 10px -7px -10px;
}

.bg-violet {
	background: #5328A1;
}
.bg-violet:hover {
	opacity: 0.7;
}

.bg-brown {
	background: #95390C;
}
.bg-brown:hover {
	opacity: 0.7;
}

.grid-row {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 25px;
}

.flex-music {
	display: flex;
	justify-content: space-between;
}

.artist {
	display: flex;
}

.artist img {
	width: 55px;
    height: 50px;
    margin-right: 16.5px;
}

.font-harket {
	font-size: 12px;
    line-height: 14px;
    color: #808080;
}

.time {
	color: #8C8C8C;
}

.grid-disco {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 50px;
}

.img-block {
	display: block;
    margin: -45px 0 25px 15px;
}
.img-block:hover {
	opacity: 0.7;
}

.mb-10 {
	margin: 0 0 10px 0;
}

.fs-20 {
	font-size: 20px;
    line-height: 23px;
}

.flex-artists {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.width-artists {
	width: 100%;
    height: auto;
    margin: 0 0 15px 0;
}

.m-0 {
	margin: 0;
}

@media (max-width: 1280px) {
	.header {
		justify-content: space-between;
	}

	.container {
		width: 95%;
	}

	.header-logo {
		margin: 0;
	}

	.header-menu {
		margin: 0;
	}

	.h1 {
		font-size: 50px;
	}

	.grid-card {
		grid-template-rows: repeat(2, 580px);
		justify-content: center;
	}

	.grid-disco {
		justify-content: center;
	}
}

@media (max-width: 1024px) {
	.form {
		width: 65%;
	}

	.author {
		width: 55%;
	}

	.h2 {
		text-align: center;
	}
}

@media (max-width: 815px) {
	.h1 {
		font-size: 37px;
		line-height: 35px;
	}

	.fs-30 {
		font-size: 23px;
		line-height: 20px;
	}
	.m-45-40 {
		margin: 45px 45px 40px;
	}

	.grid-card {
		grid-template-rows: repeat(2, 580px);
		grid-gap: 45px;
	}

	.bg-size {
		background-size: cover;
	}
	.card-btn {
		width: 100%;
	}

	.author {
		width: 80%;
	}

	.first-menu section ul {
		padding: 0 10px 0 0;
	}

	.h6 {
	    margin: 0 0 20px 0;
	}
}

@media (max-width: 650px) {
	.container {
		width: 65%;
	}

	.header {
		flex-direction: column;
		margin: 0 0 0 30px;
	}

	.header-logo p{
		font-size: 14px;
	}

	.header-menu ul {
		flex-direction: column;
	}

	.header-menu ul li {
		margin: 0 36px 10px 0;
		font-size: 14px;
	}

	.search {
		width: 55%;
	}

	.m-45-40 {
	    margin: 45px 0 40px;
	}

	.padding-250 {
		padding: 250px 0 100px 0;
	}

	.main {
		padding: 50px 0;
	}

	.form {
		width: 100%;
	}

	.form input {
		width: 100%;
	}

	.second-menu ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.grid-card {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(3, 580px);
		grid-gap: 45px;
	}

	.h2 {
		font-size: 30px;
	}

	.grid-info {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 25px;
	}

	.mb-10 img {
		width: 130px;
	}

	.grid-disco {
		grid-template-columns: repeat(2, 140px);
		grid-gap: 40px;
	}

	.flex-artists {
		align-items: flex-start;
	}

	.column-reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.btn-catalog {
		width: 100%;
		margin: 0 0 10px 0;
	}
}