@import "styles/scss/variables.scss";

@media screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }

  .humburger-menu {
    max-width: 480px;
    width: 100%;
    justify-content: space-between;
  }

  .header {
    @include flex(row, space-between, flex-start);

    .header-logo {
      margin: 0;
    }

    .header-menu {
      margin: 0;
    }
  }

  .h1 {
    font-size: 50px;
  }

  .grid-card {
    grid-template-rows: repeat(2, 580px);
    justify-content: center;
  }

  .grid-disco {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .bg-home .form {
    width: 65%;
  }

  .author {
    width: 55%;
  }

  .h2 {
    text-align: center;
  }
}

@media screen and (max-width: 815px) {
  .search_form .search {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width:85px;
    min-height: 28px;
    font-size: 12px;
  }

  .search_form .search:focus {
    width: 250px;
  }


  .h1 {
    @include font-size(37px, 35px);
  }

  .fs-30 {
    @include font-size(23px, 20px);
  }
  .m-45-40 {
    margin: 45px 45px 40px;
  }

  .grid-card {
    grid-template-rows: repeat(2, 580px);
    grid-gap: 45px;

    .bg-size {
      background-size: cover;
    }
  }

  .card-content {
    width: 90%;
    text-align: center;

    .card-btn {
      width: 100%;
      padding: 20px 50px;
    }
  }

  .author {
    width: 80%;
  }

  .first-menu {

    section {

      ul {
        padding: 0 10px 0 0;
      }
    }
  }

  .h6 {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 65%;
  }

  .humburger-menu {
    display: block;
  }

  .logo-music {
    display: none;
  }

  .humburger-button {
    display: block;
  }

  .header-menu ul {
    display: block;
  }

  .header-menu li {
    padding-right: 0;
    padding-left: 0;
  }

  .menu_btn {
    display: block;
    position: relative;
    align-items: center;

    height: 50px;
    cursor: pointer;
  }

  .menu_btn .header-menu ul,
  .menu_btn .header-menu ul::before,
  .menu_btn .header-menu ul::after {
    display: block;
    content: "";
    outline: none;
    position: absolute;

    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #menu:not(:checked) ~ .header-menu ul {
    display: none;
  }

  #menu:checked ~ .header-menu ul {
    display: block;
  }

  .m-5 {
    margin: 12px 5px 0 0;
  }

  .header {
    flex-direction: column;
    margin: 0 0 0 30px;

    .header-logo {
      p {
        font-size: 16px;
      }
    }

    .header-menu {
      ul {
        flex-direction: column;

        li {
          margin: 0 36px 10px 0;
          font-size: 14px;
        }
      }
    }

    .search {
      width: 55%;
    }
  }

  .m-45-40 {
    margin: 45px 0 40px;
  }

  .padding-250 {
    padding: 100px 0;
  }

  .main {
    padding: 50px 0;
  }

  .bg-home .form {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .second-menu {
    ul {
      @include flex(column, center, flex-start);
    }
  }

  .grid-card {
    @include grid(repeat(1, 300px), 45px);

    grid-template-rows: repeat(3, 580px);
  }

  .h2 {
    font-size: 30px;
  }

  .grid-info {
    @include grid(repeat(1, 1fr), 25px);
  }

  .mb-10 {
    img {
      width: 130px;
    }
  }

  .img-block {
    .img-btn {
      width: 25%;
    }
  }

  .grid-disco {
    @include grid(repeat(2, 140px), 40px);
  }

  .flex-artists {
    align-items: flex-start;
  }

  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-catalog {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.padding-280-0-80 {
  padding: 80px 0;
}