//font
$font: "Roboto", sans-serif;

@mixin font-size($size, $height) {
  font-size: $size;
  line-height: $height;
}

//color
$primary-color: #FFFFFF;
$gray-original: #808080;
$gray: #8c8c8c;
$orange: #F89202;
$light-gray: #B8B8B8;
$dark-gray: #555555;
$pink: #FF4157;
$green: #34C176;
$dark-purple: #08020D;
$purple: #5328A1;
$brown: #95390C;

//width
@mixin size ($width, $height){
  width: $width;
  height: $height;
}

//flex
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//grid
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
}
